@model IEnumerable<Proyectofinal.Models.Cargo>

@{
    ViewBag.Title = "Cargo de empleado";
}

<h2>Cargo de empleado</h2>


@using (Html.BeginForm())
{
    <p>
        Buscador: @Html.TextBox("cargos")
        <input type="submit" value="buscar">
    </p>
}
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cargo1)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo1)
            </td>
        </tr>
    }


</table>
