@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>APLICACIÓN DE GESTIÓN DE RECURSOS HUMANOS</h2>
</div>

<div class="container-mio">
    <h1>Bienvenidos</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Mantenimientos</h2>
        <p>
            Este módulo consiste en crear formularios que alimentes sendas tablas.
        </p>
        <img src="~/imagenes/mantenimiento.png" class="IMG" alt=""></a>
    </div>
    <div class="col-md-4">
        <h2>Procesos </h2>
        <p>
            En este módulo se van a configurar algunos procesos o acciones.
        </p>
        <img src="~/imagenes/procesos.png" class="IMG" alt=""></a>

    </div>
    <div class="col-md-4">
        <h2>Informes</h2>
        <p>En este módulo se elegirá el tipo de informe a generar para presentar listas de datos en vistas </p>
        <img src="~/imagenes/registrar.jpg" class="IMG" alt=""></a>
    </div>
</div>